@page "/collections/overview"
@using Data

<PageTitle>Collections Overview</PageTitle>

<h1>Collections Overview</h1>

<p>Data collection statistics for all Warcraft entities.</p>

<table class="table">
    <thead>
        <tr>
            <th>Entity Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Item Appearances</td>
            <td>@WarcraftData.Instance.ItemAppearances.Count</td>
        </tr>
        <tr>
            <td>Items</td>
            <td>@WarcraftData.Instance.Items.Count</td>
        </tr>
        <tr>
            <td>Toys</td>
            <td>@WarcraftData.Instance.Toys.Count</td>
        </tr>
        <tr>
            <td>Mounts</td>
            <td>@WarcraftData.Instance.Mounts.Count</td>
        </tr>
        <tr>
            <td>Pets</td>
            <td>@WarcraftData.Instance.Pets.Count</td>
        </tr>
        <tr>
            <td>Professions</td>
            <td>@WarcraftData.Instance.Professions.Count</td>
        </tr>
        <tr>
            <td>Profession Medias</td>
            <td>@WarcraftData.Instance.ProfessionMedias.Count</td>
        </tr>
        <tr>
            <td>Realms</td>
            <td>@WarcraftData.Instance.Realms.Count</td>
        </tr>
        <tr>
            <td>Item Medias</td>
            <td>@WarcraftData.Instance.ItemMedias.Count</td>
        </tr>
        <tr>
            <td>Recipes</td>
            <td>@WarcraftData.Instance.Recipes.Count</td>
        </tr>
        <tr>
            <td>Recipe Medias</td>
            <td>@WarcraftData.Instance.RecipeMedias.Count</td>
        </tr>
    </tbody>
</table>

@code {
    protected override void OnInitialized()
    {
        WarcraftData.Instance.Load();
    }
}